ul {
	list-style: none;
	padding: 0;
}
.nav-link,
.footer-link {
	border: 2px solid transparent;
	text-decoration: none;
	color: #000;
	transition: all 300ms;
}
.nav-link:hover,
.footer-link:hover {
	color: #000;
	border-bottom: 2px solid rgb(220, 77, 65);
}
.card img {
	max-height: 250px;
	object-fit: cover;
}
.modal-body ul li {
	padding: 10px 0;
}
.modal-body ul li:not(:last-child) {
	border-bottom: 1px solid #ccc;
}
#animales {
	gap: 20px;
	box-sizing: border-box;
}
@media (min-width: 992px) {
	.modal-dialog {
		max-width: 900px !important;
	}
}
